@using Egharpay.Business.Extensions
@model Egharpay.Models.MobileRepairViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<div class="row" ng-controller="MobileRepairController as model">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>@Model.MobileRepair.MobileNumber <small> Edit Mobile Repair Request</small></h3>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                                    {
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-3">
                                                @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                            </div>
                                        </div>
                                    }
                                    @Html.HiddenFor(model => Model.MobileRepair.MobileRepairId)
                                    @Html.HiddenFor(model => Model.MobileRepair.CreatedDateTime)
                                    <div class="form-control-required-example">&nbsp; = Required</div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.MobileNumber, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.MobileNumber, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.MobileNumber, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.ModelName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.ModelName, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.ModelName, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.Description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.Description, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.Description, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.CouponCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.CouponCode, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.CouponCode, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.Company, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.Company, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.Company, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.Address1, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.Address1, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.Address1, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.Address2, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.Address2, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.Address2, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.CountryId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.CountryId, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.CountryId, "", new { @class = "help-block" })
                                        </div>
                                    </div>*@
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.StateId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.StateId, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.StateId, "", new { @class = "help-block" })
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.District, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.District, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.District, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.City, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.City, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.City, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.ZipPostalCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.ZipPostalCode, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.ZipPostalCode, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.LandMark, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.LandMark, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.LandMark, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.AlternateNumber, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.AlternateNumber, new { @class = "form-control col-md-6 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.AlternateNumber, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">AppointmentDate</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <daterange-picker value="@Model.MobileRepair.AppointmentDate.Formatted()" name="MobileRepair.AppointmentDate" id="MobileRepair_AppointmentDate" model="model.AppointmentDate"></daterange-picker>
                                        </div>
                                    </div>

                                    <div class="form-group clockpicker" data-autoclose="true">
                                        @Html.LabelFor(model => model.MobileRepair.AppointmentTime, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextBoxFor(model => model.MobileRepair.AppointmentTime, new { @class = "form-control col-md-6 col-xs-12" })
                                            <span class="fa fa-clock-o daterangepickerdirective"></span>
                                            @Html.ValidationMessageFor(model => model.MobileRepair.AppointmentTime, "", new { @class = "help-block" })
                                        </div>
                                    </div>



                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.MobileRepair.AppointmentDate, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                            <div class="input-group date col-md-4 col-sm-4 col-xs-12">
                                                @Html.TextBoxFor(model => model.MobileRepair.AppointmentDate, new { @class = "form-control col-md-6 col-xs-12" })
                                                @Html.ValidationMessageFor(model => model.MobileRepair.AppointmentDate, "", new { @class = "help-block" })
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileRepair.Comment, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextAreaFor(model => model.MobileRepair.Comment, new { @class = "form-control col-md-6 col-xs-12",@rows="6" })
                                            @Html.ValidationMessageFor(model => model.MobileRepair.Comment, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-3">
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/plugins/clockpickerStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/clockpicker")
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
}
