@using Egharpay.Business.Enum
@using Egharpay.Extensions
@model Egharpay.Models.MobileRepairViewModel
@{
    var layout = User.IsSuperUserOrAdminOrSeller() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "Repair Mobile";

}

<div ng-cloak ng-controller="MobileRepairController as model" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Repair Mobile<small> repair phone online</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="hide-on-mobile">
                                <h3>
                                    <i class="fa fa-gift gift-icon"></i> We have offer for you
                                </h3>
                                <p>Apply coupon</p>
                                <p class="text-center">
                                    <div class="alert alert-danger">
                                        <ul>
                                            <li>
                                                <h3>Register account on mumbile.Get Mobile Back cover for Rs 50 only. Apply Coupon code MUM001</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-lg-4">
                            <div class="alert alert-danger alert-dismissable" ng-if="model.errorMessages.length>0">
                                <ul>
                                    <li ng-repeat="message in model.errorMessages track by $index"><span ng-bind="message"></span></li>
                                </ul>
                            </div>
                            <p>Enter your details.</p>
                            @using (Html.BeginForm(new { @class = "ng-pristine ng-valid" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Number", @ng_model = "model.mobileNumber" })
                                    @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group" ng-if="model.isOtpCreated==true">
                                    @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", @placeholder = "OTP", @ng_model = "model.OTP" })
                                    @Html.ValidationMessageFor(m => m.OTP, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group" ng-if="model.isOtpCreated && model.isRepair">
                                    @Html.TextBoxFor(m => m.CouponCode, new { @class = "form-control", @placeholder = "Coupon Code", @ng_model = "model.couponCode" })
                                </div>
                                <div class="form-group" ng-if="model.isRepair">
                                    @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control", @placeholder = "Model Name", @ng_model = "model.modelName" })
                                </div>
                                
                                <p class="text-muted text-left">
                                    <a ng-if="model.isOtpCreated" ng-click="model.isRepair ? model.createMobileRepairOtp():model.createMobileRepairManageOrderOtp()">&nbsp;&nbsp;&nbsp; ReSend OTP</a>
                                </p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button ng-if="!model.isOtpCreated && model.isRepair" ng-click="model.createMobileRepairOtp()" class="btn btn-danger pull-right col-xs-12" type="button"><strong>Repair</strong></button>
                                    </div>
                                    <div class="col-lg-12">
                                        <button ng-if="!model.isOtpCreated" ng-click="model.createMobileRepairManageOrderOtp()" class="btn btn-default pull-right col-xs-12" type="button"><strong>Manage Order</strong></button>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <button ng-if="model.isOtpCreated" ng-click="model.isRepair ? model.createMobileRepairRequest():model.retrieveMobileRepairOrdersByMobile()" class="btn btn-primary pull-right col-xs-12" type="button"><strong>Submit</strong></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row" ng-if="model.mobileRepairOrders.length>0">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Manage Mobile Repair Orders<small> check your orders</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="feed-activity-list">
                                <div class="feed-element" ng-repeat="mobileRepair in model.mobileRepairOrders">
                                    <div class="media-body ">

                                        <strong>Mobile RepairId</strong> - {{mobileRepair.MobileRepairId}}<br />
                                        <strong>Request Status</strong> &nbsp;&nbsp;&nbsp;<label class="label label-warning"><span ng-bind="mobileRepair.MobileRepairStateDescription"></span></label>
                                        <br>
                                        <div class="well">
                                            <div ng-if="mobileRepair.AppointmentDate"><strong>Appointment Datetime</strong> - <span ng-bind="mobileRepair.AppointmentDate|date:'dd MMM yyyy'"></span> - <span ng-bind="mobileRepair.AppointmentTime"></span></div>
                                            <strong>Created Date</strong> - <span ng-bind="mobileRepair.CreatedDateTime|date:'dd MMM yyyy'"></span><br />
                                            <strong>Model Name</strong> - <span ng-bind="mobileRepair.ModelName"></span><br />
                                            <strong>Fault Description</strong> - <span ng-bind="mobileRepair.Description"></span><br />
                                        </div>
                                        <div class="pull-right">
                                            <button ng-if="mobileRepair.MobileRepairStateId ==  @((int) MobileRepairRequestState.InProgress) ||mobileRepair.MobileRepairStateId ==  @((int) MobileRepairRequestState.Created)" ng-click="model.deleteMobileRepairRequest(mobileRepair.MobileRepairId)" class="btn btn-danger btn-sm"><i class="fa fa-close"></i> Cancel Repair</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Offers</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <div>
                                    <div class="ibox-content no-padding border-left-right">
                                        <img alt="image" class="img-responsive" src="/Images/mumbileRepairOffer.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
