@using Egharpay.Extensions
@model Egharpay.Models.MobileRepairViewModel
@{
    ViewBag.Title = "MobileRepairOrder";
}

<div ng-controller="MobileRepairController as model" ng-init="model.retrieveMobileRepairOrders()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Mobile Repair Orders <small></small>
            </h3>
        </div>
        <div class="row">
            @if (User.IsInAnyRoles("Admin"))
            {
                <div class="col-lg-12">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "MobileRepair")">
                        <i class="fa fa-user"></i> Create
                    </a>
                </div>
            }
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-12">
                    <div class="input-group">

                        <input type="text" placeholder="Search" class="input-sm form-control" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchMobileRepairOrder(searchField)"> <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="model.searchMobileRepairOrder(searchField)"> Go!</button>
                        </span>
                    </div>
                </div>
                <div class="project-list">
                </div>
            </div>
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-3 form-inline">
                    @Html.Partial("Pagination/_pageSize")
                </div>
                <div class="col-md-9 text-right">
                    @Html.Partial("Pagination/_pageInformation")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        @*<h2>
                                Subjects <small></small>
                            </h2>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            @*<div class="row">
                                    <div class="col-xs-12">
                                        @Html.Partial("Pagination/_pageSize")
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-xs-12">
                                    <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                        <thead>
                                            <tr role="row">
                                                <th ng-click="model.order('MobileNumber')" ng-class="model.orderClass('MobileNumber')">Mobile</th>
                                                <th ng-click="model.order('ModelName')" ng-class="model.orderClass('ModelName')">Model Name</th>
                                                <th ng-click="model.order('Description')" ng-class="model.orderClass('Description')">Description</th>
                                                <th ng-click="model.order('CouponCode')" ng-class="model.orderClass('CouponCode')">Coupon Code</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mobileRepairOrder in model.mobileRepairOrders" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                                <td><span ng-bind="mobileRepairOrder.MobileNumber"></span></td>
                                                <td><span ng-bind="mobileRepairOrder.ModelName"></span></td>
                                                <td><span ng-bind="mobileRepairOrder.Description"></span></td>
                                                <td><span ng-bind="mobileRepairOrder.CouponCode"></span></td>
                                                <td>
                                                    <div class="btn-group pull-right">
                                                        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                        <ul class="dropdown-menu slidedown">
                                                            <li>
                                                                <a style="cursor: pointer;" ng-click="model.mobileRepairState(mobileRepairOrder.MobileRepairId,@Model.MobileRepairStateId=3)">
                                                                    Mark As Completed
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor: pointer;" ng-click="model.mobileRepairState(mobileRepairOrder.MobileRepairId,@Model.MobileRepairStateId=4)">
                                                                    Mark As Cancelled
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @Html.Partial("Pagination/_pagination")
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label ng-bind="model.searchMessage"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


