@using Egharpay.Business.Enum
@using Egharpay.Extensions
@{
    var layout = User.IsSuperUserOrAdminOrSeller() || User.IsMobileRepairAdmin() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "MobileRepairOrder";
    const int created = (int)@MobileRepairRequestState.Created;
    const int inprogress = (int)@MobileRepairRequestState.InProgress;
}

<div ng-controller="MobileRepairController as model" ng-init="model.initialise()">
    <div class="page-title">

        <div class="row">
            @if (User.IsSuperUserOrAdmin())
            {
                <div class="col-lg-12">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "MobileRepair")">
                        <i class="fa fa-user"></i> Create
                    </a>
                </div>
            }
        </div>
        <br />
        @*--Date Search*@

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Search By Date </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>From Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <daterange-picker name="fromDate" id="fromDate" model="model.fromDate"></daterange-picker>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>To Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <daterange-picker name="toDate" id="toDate" model="model.toDate"></daterange-picker>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="button" ng-click="model.searchMobileRepairByDate()" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Search </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-5 m-b-xs">
                                <div class="row m-b-sm m-t-sm">
                                    <div class="col-md-6 form-inline">
                                        @Html.Partial("Pagination/_pageSize")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Partial("Pagination/_pageInformation")
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 m-b-xs">
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control" ng-model="model.searchTerm" ng-keyup="$event.keyCode == 13 && model.search(model.searchTerm)"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="model.search(model.searchTerm)"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" ng-if="model.mobileRepairOrders.length>0">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Mobile Repair Orders </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="table-responsive">
                                <table wt-responsive-table class="table table-responsive table-bordered table-hover dataTables-example dataTable responsive" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th ng-click="model.order('MobileNumber')" ng-class="model.orderClass('MobileNumber')">Mobile Number</th>
                                            <th ng-click="model.order('ModelName')" ng-class="model.orderClass('ModelName')">Model Name</th>
                                            <th ng-click="model.order('MobileRepairAdminName')" ng-class="model.orderClass('MobileRepairAdminName')">Mobile Repairer</th>
                                            <th ng-click="model.order('AppointmentDate')" ng-class="model.orderClass('AppointmentDate')">AppointmentDate</th>
                                            <th ng-click="model.order('AppointmentTime')" ng-class="model.orderClass('AppointmentTime')">AppointmentTime</th>
                                            <th ng-click="model.order('CouponCode')" ng-class="model.orderClass('CouponCode')">Coupon Code</th>
                                            <th ng-click="model.order('MobileRepairStateDescription')" ng-class="model.orderClass('MobileRepairStateDescription')">Repair Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mobileRepairOrder in model.mobileRepairOrders" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            <td><span ng-bind="mobileRepairOrder.MobileNumber"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.ModelName"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.MobileRepairAdminName"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.AppointmentDate"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.AppointmentTime"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.CouponCode"></span></td>
                                            <td><span ng-bind="mobileRepairOrder.MobileRepairStateDescription" class="btn btn-round btn-danger btn-xs ng-scope">SPECIAL</span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        <li>
                                                            <a href="Edit/{{mobileRepairOrder.MobileRepairId}}">
                                                                Edit
                                                            </a>
                                                        </li>
                                                        <li ng-if="mobileRepairOrder.MobileRepairStateId==@created">
                                                            <a ng-bootbox-confirm="Mark as Inprogress. Are you sure?" ng-bootbox-confirm-action="model.markAsInProgress(mobileRepairOrder.MobileRepairId)" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Mark as Inprogress
                                                            </a>
                                                        </li>
                                                        <li ng-if="mobileRepairOrder.MobileRepairStateId==@inprogress">
                                                            <a data-toggle="modal" data-target="#mobileRepairPaymentModal" ng-click="model.markAsCompleted(mobileRepairOrder.MobileRepairId,mobileRepairOrder.MobileNumber)">
                                                                Mark as Completed
                                                            </a>
                                                        </li>
                                                        @if (User.IsSuperAdmin())
                                                        {
                                                            <li ng-if="mobileRepairOrder.MobileRepairStateId!=@created">
                                                                <a ng-bootbox-confirm="Mark as Cancelled. Are you sure?" ng-bootbox-confirm-action="model.markAsCancelled(mobileRepairOrder.MobileRepairId)" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                    Mark as Cancelled
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                </div>
            </div>

        </div>

            <div class="row" ng-if="model.mobileRepairOrders.length<=0">
                <div class="col-xs-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    @Html.Partial("_MobileRepairPaymentModal")

</div>
