@using Egharpay.Extensions
@model Egharpay.Models.ForgotPasswordViewModel
@{
    var layout = User.IsSuperUserOrAdmin() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "Lost your password?";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox-content">
            <h1>@ViewBag.Title</h1>
            <h4>Enter your email address.</h4>
            <div class="form-group separator">
                @Html.ValidationSummary("", new { @class = "help-block" })
                <div class="alert alert-danger alert-dismissable" ng-if="model.errorMessages.length>0">
                    <ul>
                        <li ng-repeat="message in model.errorMessages track by $index"><span ng-bind="message"></span></li>
                    </ul>
                </div>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button ng-if="!(model.isOtpCreated==true)" type="button" ng-click="model.createLoginOtp(model.mobileNumber)" class="btn btn-primary block full-width m-b">Next</button>
                    <button ng-if="model.isOtpCreated==true" type="submit" class="btn btn-primary block full-width m-b">Submit</button>
                </div>
            </div>
        </div>
    </div>
}
