@model Egharpay.Models.HomeBannerViewModel
<div class="form-control-required-example"> = Required</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.MobileId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(model => model.HomeBanner.MobileId, Model.Mobiles, "Select Mobile", new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.MobileId, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.Name, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.Name, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.SubTitle, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.SubTitle, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.SubTitle, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.Tag, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.Tag, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.Tag, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.StartDateTime, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.StartDateTime, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.HomeBanner.StartDateTime, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.EndDateTime, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.EndDateTime, "{0:dd MMMM yyyy}", new { @class = "form-control col-md-7 col-xs-12 date" })
        @Html.ValidationMessageFor(model => model.HomeBanner.EndDateTime, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.Pincode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.Pincode, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.Pincode, "", new { @class = "help-block" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HomeBanner.Link, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.HomeBanner.Link, new { @class = "form-control col-md-7 col-xs-12" })
        @Html.ValidationMessageFor(model => model.HomeBanner.Link, "", new { @class = "help-block" })
    </div>
</div>