@model Egharpay.Models.HomeBannerViewModel

@{
    ViewBag.Title = string.Format("Edit Home Banner ({0})", Model.HomeBanner.Name);
}

<div class="row" ng-controller="HomeBannerImageController as model" ng-init="model.initialise(@Model.HomeBannerId)">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @Model.HomeBanner.Name <small>Edit Home Banner</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => Model.HomeBanner.HomeBannerId)
                        @Html.Partial("_HomeBanner", Model)

                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#HomeBannerImageModal"><i class="fa fa-upload"></i> Upload Home Banner Image</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" id="HomeBannerImageModal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="avatar-form" enctype="multipart/form-data" method="post">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                            <h4 class="modal-title" id="avatar-modal-label">Upload Home Banner Image</h4>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-primary" type="button" ng-click="model.uploadPhoto(cropper.croppedImage)">Upload</button>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                                </div>
                            </div>
                            <br />
                            <div ng-show="model.imageUploadError" class="validation-summary-errors alert alert-danger col-lg-12 col-xs-12 col-sm-10">
                                <ul>
                                    <li ng-show="model.fileFormatError">Please Upload .jpg,.jpeg,.png,.gif,.bmp File</li>
                                    <li ng-show="model.fileError">Please Select File</li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <canvas width="1200" height="400" class="center-block" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="1200" crop-height="400" keep-aspect="true" touch-radius="30" crop-area-bounds="0"></canvas>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="file" id="fileUpload" img-cropper-fileread image="cropper.sourceImage" class="form-control required" accept=".jpg,.jpeg,.png,.gif,.bmp" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="HomeBannerImageController as model" ng-init="model.retrieveHomeBannerImageDocument(@Model.HomeBannerId)">
    @Html.Partial("_HomeBannerImageDocument")
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>