@using Egharpay.Business.Extensions
@using Egharpay.Extensions
@model Egharpay.Models.MobileRepairViewModel

@{
    var layout = User.IsSuperUserOrAdmin() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout_2.cshtml";
    Layout = layout;
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="ibox-title">
                <h2>@Model.PartnerEnquiry.Name<small> Edit Partner</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    @Html.ValidationSummary(false, null, new { @class = "row alert alert-error" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => Model.PartnerEnquiry.PartnerEnquiryId)
                        @Html.HiddenFor(model => Model.PartnerEnquiry.CreatedDate)

                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PartnerEnquiry.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(model => model.PartnerEnquiry.Name, new { @class = "form-control col-md-7 col-xs-12 required" })
                                            @Html.ValidationMessageFor(model => model.PartnerEnquiry.Name, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PartnerEnquiry.Mobile, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(model => model.PartnerEnquiry.Mobile, new { @class = "form-control col-md-7 col-xs-12 required" })
                                            @Html.ValidationMessageFor(model => model.PartnerEnquiry.Mobile, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PartnerEnquiry.EmailId, "Email Id", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextBoxFor(model => model.PartnerEnquiry.EmailId, new { @class = "form-control col-md-7 col-xs-12 required" })
                                            @Html.ValidationMessageFor(model => model.PartnerEnquiry.EmailId, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PartnerEnquiry.Comment, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.PartnerEnquiry.Comment, new { @class = "form-control col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.PartnerEnquiry.Comment, "", new { @class = "help-block" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Follow up date</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <daterange-picker value="@Model.PartnerEnquiry.FollowupDate.Formatted()" name="PartnerEnquiry.FolloupDate" id="PartnerEnquiry_FolloupDate"></daterange-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
        <span class="fa fa-chevron-left"></span>&nbsp;Back to list
    </a>
</div>