@using Egharpay.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mumbile | @ViewBag.Title</title>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
     
     <!-- Add jQuery Style direct - used for jQGrid plugin -->
     <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

     <!-- Primary Mumbile style -->     
     @Styles.Render("~/Content/Styles")
     @Styles.Render("~/font-awesome/Styles")
    @Styles.Render("~/plugins/clockpickerStyles")
    
     </head>
     <body>

     <!-- Skin configuration box -->
     <!-- @Html.Partial("_SkinConfig") -->

     <!-- Wrapper-->
     <!-- PageClass give you ability to specify custom style for specific view based on action -->
     <div id="wrapper" class="@Html.PageClass()" ng-app="Egharpay">

         <!-- Navigation -->
         @Html.Partial("_Navigation")

         <!-- Page wraper -->
         <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

             <!-- Top Navbar -->
             @Html.Partial("_TopNavbar")
             <br />
             <br />
             <!-- Main view  -->
             @RenderBody()
             <br />
             <br />
             <!-- Footer -->
             @Html.Partial("_Footer")

         </div>
         <!-- End page wrapper-->
         <!-- Right Sidebar -->
         @Html.Partial("_RightSidebar")

     </div>
     <!-- End wrapper-->

     <!-- Section for main scripts render -->
     @Scripts.Render("~/Scripts/bower")
     @Scripts.Render("~/bundles/jquery")
     @*@Scripts.Render("~/bundles/bootstrap")*@
     @*@Scripts.Render("~/plugins/slimScroll")*@
     @Scripts.Render("~/bundles/Mumbile")
     @Scripts.Render("~/Scripts/Application")
     @Scripts.Render("~/plugins/clockpicker")

     <!-- Skin config script - only for demo purpose-->
     @Scripts.Render("~/bundles/skinConfig")

     <!-- Handler for local scripts -->
     @RenderSection("scripts", required: false)
     </body>
     </html>

     <script type="text/javascript">
         $(document).on('click', '.mega-dropdown', function (e) {
             e.stopPropagation();
             $('.carousel').carousel({
                 interval: 4000
             });
         })
     </script>
	
